/*
----------------------------------------------------
- CASCADING STYLESHEET => Folha de estilo em cascata
- O CSS trabalha com seletores que fazem a conecção
- de estilos que serão aplicados na tag html.
---------------------------------------------------
*/

/*Zerando margens automáticas*/
html, body {
    margin: 0;
}

/*
----------------------------------------------------
- ALINHAMENTOS E ESPAÇAMENTOS
- LARGURA E ALTURA
----------------------------------------------------
*/

/*ALINHAMENTO E AGRUPAMENTO*/
header, main, footer {
    text-align: center;
}

/* Acessando uma classe */
.donors {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; 
} 
.form {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/*AGRUPAMENTO E ESPAÇAMENTO*/
header, .form, main {
    margin-bottom: 70px;
}