/*
----------------------------------------------------
- CASCADING STYLESHEET => Folha de estilo em cascata
- O CSS trabalha com seletores que fazem a conecção
- de estilos que serão aplicados na tag html.
---------------------------------------------------
*/

/*Zerando margens automáticas*/
html, body {
    margin: 0;
}

/*redirecionando tamnhos das colunas*/
body {
    display: flex;
    flex-direction: column;

    /*altura*/
    height: 100vh;
}

/*ajustando body a todo o tamanho da pagina*/
footer {
    margin-top: auto;
}
/*
----------------------------------------------------
- ALINHAMENTOS E ESPAÇAMENTOS
- LARGURA E ALTURA
----------------------------------------------------
*/

/*ALINHAMENTO E AGRUPAMENTO*/
header, main, footer {
    text-align: center;
}

/* Acessando uma classe */
.donors {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; 
} 
.form {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/*AGRUPAMENTO E ESPAÇAMENTO*/
header, .form, main {
    /*espaçamento com margem no topo, right, left e em baixo */
    margin: 0 auto 70px;
    /*limites dos elementos na página */
    width: 90%;
    max-width: 500px;

}